/.settings
/assets
/bin
/gen
libs
/res
/src/com
/src/android/ext/reference
/obj
/.classpath
/.gitignore
/.project
/.gitignore
/AndroidManifest.xml
/AuroraKS.keystore
/lint.xml
/project.properties
/tmp
